<div class="headerContainer">
  <div class="header">
    <div class="twoElementsContainer">
      <button class="navBtn"><img class="btnIcon" src="assets/images/FilmB.png" alt=""/>Коллекция</button>
      <button class="navBtn"><img class="btnIcon" src="assets/images/plus.png" alt=""/>Добавить</button>
    </div>
    <img src="assets/images/Watch_Later_Logo_Short.png" alt=""/>
    <div class="leftPaddingContainer">
      <button class="activeNavBtn"><img class="btnIcon" src="assets/images/searchW.png" alt=""/>Поиск</button>
      <div class="profileImg"></div>
    </div>
  </div>
</div>
